@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



.calculator-heading {
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
}


.input {
    padding: 10px;
    width: 250px;
    height: 70px;
    border-style: solid;
    border-radius: 30px;
    background-color: #ecf0f3;
    outline: none;
    margin-bottom: 20px;
    border: none;
    box-shadow: inset -5px -5px 12px #ffffff,
        inset 5px 5px 12px rgba(0, 0, 0, .16);
    color: rgb(70, 70, 70);
    font-size: 50px;
}


.background {
    background-color: black;
    width: 280px;
    padding: 15px;
    border-radius: 30px;
    height: 500px;

}


.button {
    height: 48px;
    width: 48px;
    margin: 5px;
    background-color: #ecf0f3;
    color: black;
    border-radius: 50%;
    font-weight: bold;

}

.button1 {
    height: 48px;
    width: 48px;
    margin: 5px;
    background-color: red;
    color: black;
    border-radius: 50%;

}